@page
@model ChirpModel
@{
    ViewData["Title"] = "CHIRP";
}

@section Head{
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://data.m0lte.uk/chirp">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CHIRP - M0LTE's Radio Data">
    <meta property="og:description" content="Get a CHIRP CSV containing UK repeaters ordered by distance from you">
    <meta property="og:image" content="https://opengraph.b-cdn.net/production/images/38947c6c-03a4-4bfe-bea5-4cf6044fc550.png?token=ezBAvixT_kYe8_LjBwYgq7j057s7gpJN1jHV8xWMNfA&height=678&width=1200&expires=33263533971">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="data.m0lte.uk">
    <meta property="twitter:url" content="https://data.m0lte.uk/chirp">
    <meta name="twitter:title" content="CHIRP - M0LTE's Radio Data">
    <meta name="twitter:description" content="Get a CHIRP CSV containing UK repeaters ordered by distance from you">
    <meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/38947c6c-03a4-4bfe-bea5-4cf6044fc550.png?token=ezBAvixT_kYe8_LjBwYgq7j057s7gpJN1jHV8xWMNfA&height=678&width=1200&expires=33263533971">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
}

<style type="text/css">
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript">
    function submitclicked() {
        var locator = document.getElementById("locator").value
        window.location.replace("api/chirpcsv/" + locator)
    }
</script>

<div class="text-center">
    <h1 class="display-4">UK Repeaters for CHIRP</h1>

    <div class="container">
        <a href="https://chirpmyradio.com/">CHIRP</a> is handy software for programming your radio, particularly for FM VHF / UHF repeaters.
    </div>
    
    <div class="container">
        This page will allow you to input your Maidenhead locator square and get an up-to-date CHIRP CSV file containing UK repeaters
        ordered by distance from your location, suitable for importing into CHIRP, to then write to your radio.
    </div>

    <div class="container">
        The data comes from the <a href="https://api-beta.rsgb.online/">beta RSGB / ETCC API</a> so should be considered current and pretty authoritative.
    </div>
    
    <div class="container">
        <label for="locator">Locator:</label>
        <input type="text" id="locator" name="locator" placeholder="e.g. IO91lk">
        <input type="button" value="Submit" onclick="submitclicked()">
    </div>

    <div class="container">
        If you don't know your Maidenhead locator square, find it <a href="https://grid.radio/" target="_blank">here</a> or <a href="https://whatsmylocator.co.uk/" target="_blank">here</a> (off-site links).
    </div>

    <div class="container">
        Some pre-populated cities: 
        <p>
            <a href="api/chirpcsv/IO87wd">Aberdeen</a>
            | <a href="api/chirpcsv/IO64qi">Armagh</a>
            | <a href="api/chirpcsv/IO74ao">Belfast</a>
            | <a href="api/chirpcsv/IO81ui">Bath</a>
            | <a href="api/chirpcsv/IO92bl">Birmingham</a>
            | <a href="api/chirpcsv/IO90wt">Brighton</a>
            | <a href="api/chirpcsv/IO81rk">Bristol</a>
            | <a href="api/chirpcsv/JO01mg">Canterbury</a>
            | <a href="api/chirpcsv/IO81jl">Cardiff</a>
            | <a href="api/chirpcsv/IO84nv">Carlisle</a>
            | <a href="api/chirpcsv/IO70lg">Channel Islands</a>
            | <a href="api/chirpcsv/IO86ml">Dundee</a>
            | <a href="api/chirpcsv/IO85jw">Edinburgh</a>
            | <a href="api/chirpcsv/IO80fr">Exeter</a>
            | <a href="api/chirpcsv/IO75vu">Glasgow</a>
            | <a href="api/chirpcsv/IO93ur">Hull</a>
            | <a href="api/chirpcsv/IO77vl">Inverness</a>
            | <a href="api/chirpcsv/IO84oa">Lancaster</a>
            | <a href="api/chirpcsv/IO93ft">Leeds</a>
            | <a href="api/chirpcsv/IO83mj">Liverpool</a>
            | <a href="api/chirpcsv/IO91wl">London</a>
            | <a href="api/chirpcsv/IO83vl">Manchester</a>
            | <a href="api/chirpcsv/IO94ex">Newcastle</a>
            | <a href="api/chirpcsv/JO02pp">Norwich</a>
            | <a href="api/chirpcsv/IO70wi">Plymouth</a>
            | <a href="api/chirpcsv/IO90lt">Portsmouth</a>
            | <a href="api/chirpcsv/IO91lk">Reading</a>
            | <a href="api/chirpcsv/IO93gj">Sheffield</a>
            | <a href="api/chirpcsv/IO90hv">Southampton</a>
            | <a href="api/chirpcsv/JO01in">Southend-on-Sea</a>
            | <a href="api/chirpcsv/IO81ap">Swansea</a>
            | <a href="api/chirpcsv/IO70lg">Truro</a>
            | <a href="api/chirpcsv/IO82ve">Worcester</a>
            | <a href="api/chirpcsv/IO93lx">York</a>
        </p>
    </div>

    <div class="container">
        For information on how to use the CSV file in CHIRP, see <a href="https://chirpmyradio.com/projects/chirp/wiki/CSV_HowTo">here</a>.
    </div>

    <div class="container">
        Currently this supports analogue FM repeaters and simplex gateways only.
    </div>

    <div class="container">
        Feature requests / bug reports welcome <a href="https://github.com/M0LTE/radio-data/issues">here</a>, and a space
        for questions / comments <a href="https://github.com/M0LTE/radio-data/discussions">also available</a>.
    </div>

    <div class="container">
        For some of my other projects, take a look <a href=".">here</a>.
    </div>

</div>


